@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cursor-size: 20px;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  background-color: #030014;
  color: #ffffff;
  cursor: none;
  /* Custom cursor will replace it */
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #030014;
}

::-webkit-scrollbar-thumb {
  background: #7045ff;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00f0ff;
}

/* Utility for text selection */
::selection {
  background: #7045ff;
  color: #fff;
}