* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    background-color: blue;
}

.link {
    /* border: 2px solid blue; */
    width: 40%;
    display: flex;
    justify-content: end;
    gap: 20px;
}

.menubar {
    display: none;
    cursor: pointer;
}

.bar1 {
    display: block;
    width: 30px;
    height: 4px;
    margin: 5px 0;
    background-color: black;
    border-radius: 50px;
}



@media screen and (max-width:768px) {
    .logo h1 {
        font-size: 20px;
    }

    .link {
        display: none;
    }

    .menubar {
        display: block;
    }

    .navbar:has(.menubar:hover) .link {
        border: 2px solid black;
        width: 70px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 5px;
        background-color: blue;
        padding: 10px;
        border-radius: 10px;


    }
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 40px;
}

.card {
    width: 400px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.desc {
    margin: 15px 0;
    font-size: 20px;
}

.card button {
    padding: 8px 15px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background-color: darkblue;
}

@media screen and (max-width:768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }
}

.cardcontainer2 {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 40px;
}

.card2 {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    text-align: center;
}

.card2 img {
    width: 90%;
    height: 50%;
    border-radius: 100%;
}

.midcard2 {
    width: 200px;
    font-size: 28px;
    text-align: center;
}

.card2 h1 {
    font-size: 60px;
}

.card2 p {
    font-size: 30px;
}

@media screen and (max-width:768px) {
    .cardcontainer2 {
        flex-direction: column;
        align-items: center;
    }

    .card2 img {
        width: 55%;
        height: 50%;
        border-radius: 100%;
    }

}

/* ================= CALCULATOR ================= */

.calculator {
    width: 500px;
    margin: 40px auto;
    background-color: rgb(73, 71, 71);
    border-radius: 20px;
    padding: 20px;
    position: relative;   /* anchor for inner absolute if needed */
}

/* Display */
#num {
    color: white;
    font-size: 4rem;
    text-align: right;
    margin-bottom: 20px;
}

/* Button area */
.main {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Rows */
.row1 {
    display: flex;
    justify-content: space-between;
}

/* Buttons */
.circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    cursor: pointer;
}

#yellow {
    background-color: rgb(226, 191, 16);
}

#grey {
    background-color: lightgray;
}

/* Zero button */
#long {
    width: 190px;
    border-radius: 50px;
}

/* ============== MOBILE ============== */

@media screen and (max-width: 768px) {
    .calculator {
        width: 95%;
        margin: 20px auto;
    }

    #num {
        font-size: 3rem;
    }

    .circle {
        width: 70px;
        height: 70px;
        font-size: 20px;
    }

    #long {
        width: 150px;
    }
}
section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.colm1,.colm2,.colm3{
    display: flex;
    flex-direction: column;
}

.colm1 img{
    height: 20em;
    width: 25em;
}
.img2{
    height: 40em;
    width: 25em;
}
.img7{
    height: 20em;
    width: 50em;
}
.colm3 img{
    height: 20em;
    width: 25em;

}
.colm2{
    width: 25em;
    
}
